@import "tailwindcss";

@theme {
    --spacing: 10px;
    --width-mobile: 335px;
    --color-primary: #017848;
    --color-primary-about:#FD6038;
    --color-hero: #f7EAC8;
    --color-hero-right: #feD464;
    --font-sans: "Manrope", sans-serif;
    --font-serif: "Roboto Slab", serif;
}
@layer base {
    html {
        font-size: 62.5%;
    }

    body {
        font-family: var(--font-sans), sans-serif;
        font-size: 1.6rem;
    }
}

@layer components {
    .btn-primary {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 43px;
        padding: 11px 25px;
        border-radius: 22px;
        background-color: var(--color-primary);
        color: #ffffff;
        line-height: 1.7;
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer;
        transition: transform 150ms ease-out,
        box-shadow 150ms ease-out,
        background-color 150ms ease-out;
    }

    .btn-primary:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(79, 70, 229, 0.4);
        background: #f31;
    }

    .btn-primary:active {
        transform: translateY(0px);
        box-shadow: 0 1px 4px rgba(79, 70, 229, 0.3);
    }
}

